main {
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1225px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 825px) {
  main {
    grid-template-columns: 1fr;
  }
}
